@import "tailwindcss";

body{
    @apply bg-gray-900;
}


/* auth style */
.auth-container {
    @apply w-full h-screen flex flex-col justify-center items-center;
}
.auth-card {
    @apply bg-gray-800 rounded shadow-lg p-5 w-lg border border-green-500 border-2 shadow-lg shadow-green-500/50;
}
.auth-card h1 {
    @apply text-center text-3xl text-transparent font-semibold bg-linear-to-r from-green-100 to-green-500 bg-clip-text;
}
.auth-card form {
    @apply flex flex-col justify-center gap-5 mt-10;
}
.auth-card .input-container{
    @apply flex flex-col gap-2;

    & label {
        @apply text-white;
    }
    & input {
        @apply rounded p-2 border border-green-500 text-white bg-green-500/10 focus:outline focus:outline-green-500;
    }
}
.auth-card button[type="submit"] {
    @apply border border-green-500 rounded p-2 text-white cursor-pointer bg-linear-to-r from-green-300 to-green-800 hover:from-green-500 mt-5 w-xs mx-auto;
}
